<!doctype html>
<html lang="en" ng-app="financeApp">
<head>
	<meta charset="utf-8">
	<title>Finance Registration</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>
	<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav">
				<a href="/NewFinanceItem.html">Add New</a>
				<a href="/UserProfile.html">Edit Profile</a>
			</ul>
		</div>
	</div>
	<div class="container">
		<div ng-controller="FinanceController">
			<div class="row">
				<div class="span11">
					<h2>{{event.name}}</h2>
				</div>
			</div>
			<div class="row">
				<div class="span3">
					<div><strong>Paid by: </strong>
						{{event.paid_by.name}},<br/>
						{{event.paid_by.location}}
					</div>
				</div>
				<div class="span3">
					<div><strong>Amount: </strong>{{event.amount | currency}}</div> 
					<div><strong>Date: </strong>{{event.date}}</div>
					<div><strong>Type: </strong>{{event.type}}</div>
				</div>
			</div>
			<div class="row">
				<div class="span11">
					<div><strong>People Invovled</strong>
						<nav>
							<button style="margin-left:10px" ng-style="mystyle_button" ng-repeat="between_person in event.between_persons">{{between_person}}</button>
						</nav>
					</div>
				</div>
			</div>
			<br>
			<h4>Comments</h4>

			<select ng-model="comment_sort_order" class="input-small">
				<option selected value="name">Name</option>
				<option value="-upvote">Upvote</option>
			</select>

			<div>
				<input type="text" placeholder="search" ng-model="query_comment"/>
			</div>
			
			<ul class="thumbnails">
				<li ng-repeat="comment in event.comments | orderBy:comment_sort_order | filter:query_comment" >
					<div class="row session">
						<div class="span0 well votingWidget">
							<div class="votingButton" ng-click="upVoteComment(comment)">
								<i class="icon-chevron-up icon-black"></i>
							</div>
							<div class="badge badge-inverse">
								<div>{{comment.upvote}}</div>
							</div>
							<div class="votingButton" ng-click="downVoteComment(comment)">
								<i class="icon-chevron-down icon-black"></i>
							</div>
						</div>
						
						<div class="well span9">
							<!-- <h4>{{comment.name}}</h4> -->
							<h4 ng-bind-template="{{comment.name}} - {{comment.date}}"></h4>
							<p ng-bind="comment.content"></p>
							<!-- <p>{{comment.content}}</p> -->
						</div>
					</div>
				</li>
			</ul>
				
		</div> 
	</div>


	<script type="text/javascript" src="/lib/jquery.min.js"></script>
	<script type="text/javascript" src="/lib/bootstrap.min.js"></script>
	<script type="text/javascript" src="/lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="/lib/angular/angular-resource.min.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" src="/js/controllers/FinanceController.js"></script>
	<script type="text/javascript" src="/js/services/FinanceData.js"></script>
</body>
</html>  